.flex-col
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    max-height: 100%;
    overflow: auto;
}

.flex-col-item
{
    display: flex;
    flex-grow: 1;
    width: 250px;
    max-width: 250px;
    max-height: 250px;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 20px;
    border-color: aqua;

}
@media (max-width: 480px)
{
    .flex-col 
    {
        display: flex;
        flex-direction: row;
        max-height: 100%;
        overflow: auto;
        background-color: aqua;
    }

    .flex-col form
    {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .flex-col-item
    {
        display: flex;
        flex-grow: 1;
        width: 250px;
        max-width: 250px;
        max-height: 250px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 20px;
        border-color: aqua;
    }
}

.flex-col-item img
{
    width: 100%;
    height: 100%;
}

.contained {
    position: relative;
    width: 500px;
    height: 375px;
    text-align: center;
    opacity: 1;
    z-index: 1;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    text-align: center;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

input[name='submit']
{
    position: relative;
    z-index: 5;
}
input[name='clear_input']
{
    position: relative;
    z-index: 5;
}

form
{
	position: relative;
    z-index: 5;
}
#btn_snap, #btn_upload, #btn_clearsnaps
{
    position:relative;
    z-index: 5;
}


.resizable
{
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position:absolute;
}

.resizable img
{
    width:100%;
    height:100%;
}

span[class^="resize-"]
{
    position:absolute;
    width: 10px;
    height:10px;
    background-color: black;
    z-index: 10;
}

span[class^="resize-middle"]:hover
{
    cursor: ew-resize;
}


.resize-bottomleft
{
    left:0;
    bottom:0;
}
.resize-bottomright
{
    right:0;
    bottom:0;
}

.resize-middleleft
{
    left:0;
    top:50%;
}

.resize-middleright
{
    right:0;
    top:50%;
}

.resize-topleft
{
    top:0;
    left:0;
}

.resize-topleft, .resize-bottomright:hover
{
    cursor:nwse-resize;
}

.resize-topright, .resize-bottomleft:hover
{
    cursor:nesw-resize;
}

.resize-topright
{
    top:0;
    right:0;
}

