.container-fluid
{
	margin-bottom: 25px;
}

article
{
    max-width: 100%;
    height: 100%;
	max-height: 100%;

}
.like-btn
{
    border: 0px;
    margin: 0px;
	position: relative;
	width: 100%;
	top: 0px;
	right: 0px;
}

.like-btn i
{
	position: absolute;
	right: 0px;
}

form > *
{
    max-width: inherit;
}

article header
{
    max-height: 10%;
	height: 10%;
	padding-bottom: 3em;
	position: relative;
}

article header img
{
	position: absolute;
	right: 0px;
}
article .img-wrapper
{
	width: auto;
    max-width: 100%;
    max-height: 70%;
}

article .comment_section
{
    max-height: 20%;
	height: 100px;
    text-align: left;
	overflow-y: auto;
	text-overflow: ellipsis;
	padding-top: 5px;
}

#center_display
{
	align-items: center;
}
.comment_section
{


}

.coment_section span
{
	padding: 1em;
	width: 100%;
}
.gal-grid {
    display: flex;
}
.gal-grid .gal-col {
    flex: 1;
}
.gal-grid-thirds {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    max-width: inherit;
    max-height: 50%;
}
.gal-grid-thirds .gal-col {
    flex-basis: 32%;
    width: 32%;
    height: 500px;
}

@media (max-width: 780px) 
{
    .gal-grid, .gal-grid-thirds
    {
        flex-wrap: wrap;
    }
    .gal-grid-thirds .gal-col 
    {
        flex-basis: 100%;
        margin: 0 0 10px 0;
		padding-bottom: 4em;
    }
	article
	{
		padding-bottom: 10px;
	}

}
.gal-grid { 
    margin: 0 0 20px 0;
}
.gal-col {
    /*background: salmon;*/
    padding: 20px;
}