body
{
    padding-top: 75px;
    min-width: 540px;
}

.container-fluid
{
    padding-top: 75px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-lg
{
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.my-collapse
{
    display: none;
}

.gal-grid {
    display: flex;
}
.gal-grid .gal-col {
    flex: 1;
}
.gal-grid-thirds {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.gal-grid-thirds .gal-col {
    flex-basis: 32%;
}

@media (max-width: 480px) 
{
    .gal-grid, .gal-grid-thirds
    {
        flex-wrap: wrap;
    }
   .gal-grid-thirds .gal-col 
    {
            flex-basis: 100%;
            margin: 0 0 10px 0;
    }

}
/*
* {
    box-sizing: border-box;
}*/
body {
    padding: 20px;
}
.gal-grid { 
    margin: 0 0 20px 0;
}
.gal-col {
    /*background: salmon;*/
    padding: 20px;
}


input.comment {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}

input.comm_submit{
    margin-left: -50px;
    height: 20px;
    width: 50px;
}