/*body
{
    padding-top: 75px;
} */

.container-fluid
{
    padding-top: 75px;
    padding-bottom: 50px;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-lg
{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.links{
	text-decoration: none;
	color : white;
	
}

.center-av{
	display: flex;
	justify-content: center;
}

.center-form{
	display: flex;
	justify-content: center;
	
/*	flex-wrap: wrap;*/
}
.center-op{
	text-align: center;
}

.settings-icon{
	float: right;
}
